<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString1" connectionString="Data Source=DESKTOP-4HUCUAR\SQLEXPRESS;Initial Catalog=Persona;User ID=sa;Password=PRO1010" providerName="System.Data.SqlClient"/>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString" connectionString="data source=DESKTOP-4HUCUAR\SQLEXPRESS;
database=Persona;
Integrated Security=SSPI;
persist security info=True;" providerName="System.Data.SqlClient"/>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString2" connectionString="Data Source=DESKTOP-4HUCUAR\SQLEXPRESS;Initial Catalog=Persona;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString3" connectionString="Data Source=proyectdwp-server.database.windows.net;Initial Catalog=Persona;User ID=Administrador;Password=dwpproyect1!" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
